.toast-carousel{overflow:hidden !important;position:relative;opacity:0;transition:all 1s}
.toast-carousel .toast-carousel-track{position:relative;}
.toast-carousel .toast-carousel-image{position:absolute;top:50%;transform:translatey(-50%);transition:all .5s;box-sizing:border-box;}
.toast-carousel .toast-carousel-image img{transition:all .5s;width:100%;height:auto;box-sizing:border-box;}

.toast-carousel .toast-carousel-image.active-logo{z-index:999 !important;opacity:1;}
.toast-carousel .toast-carousel-image.active-logo img{position:relative;}

.toast-carousel .toast-carousel-navigation{position:absolute;top:50%;border-radius:100%;background:#000000;color:#ffffff;z-index:999;font-family:dashicons;font-style:normal;line-height:30px;width:30px;height:30px;text-align:center;}
.toast-carousel .toast-carousel-navigation.backwards{left:0;transform:translate(50%, -50%);}
.toast-carousel .toast-carousel-navigation.forwards{right:0;transform:translate(-50%, -50%);}

.toast-carousel-error-message{text-align:center;font-weight:bold;padding:5rem 0;}